body{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header{
    background-color: rgb(245, 167, 179);
    color: ghostwhite;
    padding: 1rem;
}
nav a:hover{
    color: rgb(244, 100, 179);
}